*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    /* width: 300px; */
    background-color: #8d8c8b;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;

}
.container > h1{
    text-align: center;
}

.user-container{
    /* border: 1px solid red; */
    background-color: #8d8c8b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* grid-template-columns: 1/3; */

}

.user-card{
    background-color: rgb(61, 60, 61);
    flex: 1 1 calc(20% - 10px);
    padding: 10px;
    color: #ffff;
    margin-bottom: 10px;
    border-radius: 4px;
    
}

.user-card > p{
    color: #7b7b7b;
}
